[submodule "OpenGLExamples/dependencies/glfw"]
	path = OpenGLCore/dependencies/glfw
	url = https://github.com/kochan96/glfw.git
[submodule "OpenGLExamples/dependencies/glad"]
	path = OpenGLCore/dependencies/glad
	url = https://github.com/kochan96/glad.git
[submodule "OpenGLCore/dependencies/imgui"]
	path = OpenGLCore/dependencies/imgui
	url = https://github.com/kochan96/imgui.git
[submodule "OpenGLCore/dependencies/spdlog"]
	path = OpenGLCore/dependencies/spdlog
	url = https://github.com/gabime/spdlog.git
